/* Your CSS Code here. */

/* p{
    width: 200px;
    background-color:rgb(128, 0, 128);
    font-size: 20px;
    padding: 10px;
    text-decoration: underline;
    color: rgb(255, 254, 254);

    border-left-width:5px;
    border-left-color: rgb(0, 128, 0); */

div.main{
	background-color:purple;
	width:200px;
	border-left:5px solid green;
	padding:10px;
	
   
	
}
#heading{
	
	font-size:20px;
	color:white;
	text-decoration:underline;

	

	
}

